<%= simple_form_for([Service.new]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Enter your volunteer opportunity here!' %>
    <%= f.input :date %>
    <%= f.input :zipcode %>
    <%= f.input :description %>
    <%= f.input :requirement %>
    <%= f.input :tags, collection: %w[Animals Environment Elderly Youth Monetary Other] %>

<!-- f.association :tags, collection: Tag.name, prompt: "Choose a category", label_method: :name, value_method: :id, include_blank: false -->
    <!-- collection: Act.active.all(order:'name'), -->
  </div>

  <br />

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-warning btn-sm" %>
  </div>

<% end %>
