<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h1 style="text-align: center">"No act of kindness, however small is ever wasted." Aesop</h1>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-4">
</div>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add a Volunteer Opportunity
  </button>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Volunteer Opportunity</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "services/service_form" %>
        </div>
      </div>
    </div>
  </div>
<!--   End of modal -->
</div>

<div class="row">
<div class="col-md-8 col-md-offset-5">
</div>
</div>
<div> <br />
</div>
<div class="row">
<!-- Form for search bar by location -->
<%= form_tag services_path, :method => :get do %>
  <p>
  <!-- <div class="form-group"> -->
  <div class="col-md-2">
    <!-- <input type="text" class="form-control" placeholder="Search"> -->
    <%= text_field_tag :search, params[:search], placeholder: "Zipcode", class: 'form-control', role: "search" %>
  </div>
    <%= submit_tag "Search Near", :name => nil, class: 'btn btn-info btn-sm' %>
    <%= link_to "Reset", services_path, class: 'btn btn-default btn-sm' %>
  </p>
<% end %>
<!-- end of search  field-->
<br />
</div>

<div class="row">
</div>

<% @services.each_slice(3).with_index do |s, row| %>
<div class="row">
  <% s.each_with_index do |service, column| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <div class="thumb-image">
    <%= image_tag service.photo.url(:medium), class: "serve-pic" %>
    </div>
      <div class="caption">
        <div class="caption-title">
        <h3><%= service.title %></h3>
        </div>
        <br />
        <%= link_to 'Add to my list', add_opportunity_service_path(service.id), method: :post, :remote => true, class: "btn btn-primary btn-info" %>
        <button type="button" class="btn btn-primary button-details" data-toggle="modal" data-target="<%= "#myModalDetails#{row}-#{column}" %>" >More Details</button>


  <!-- Modal Description -->

<div class="modal" id="<%= "myModalDetails#{row}-#{column}" %>">
  <div class="modal-dialog" for="<%= "#myModalDetails#{row}-#{column}" %>">
    <div class="modal-content" for"<%= "#myModalDetails#{row}-#{column}" %>">
      <div class="modal-header" for"<%= "#myModalDetails#{row}-#{column}" %>">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" for"<%= "#myModalDetails#{row}-#{column}" %>">×</button>
        <h4 class="modal-title" for"<%= "#myModalDetails#{row}-#{column}" %>">Modal title</h4>
      </div>
      <div class="modal-body" for"<%= "#myModalDetails#{row}-#{column}" %>">
        <h1> More Details Model </h1>
        <div class="thumbnail">
          <%= image_tag service.photo.url(:medium) %>
        <div class="caption">
        <h3><%= service.title %></h3>
        <p>
        <ul>
          <li>Where: <%= service.zipcode %></li>
          <li>Description: <%= service.description %></li>
          <li>Requirements: <%= service.requirement %></li>
        </ul>
        </p>
        </div>
        </div>

        <h1>End of Modal details</h1>
      </div>
      <div class="modal-footer" for"<%= "#myModalDetails#{row}-#{column}" %>">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>

</div>

<!-- End Modal Description -->
      </div>
    </div>
  </div>

    <% end %>
</div>


  <% end %>








