<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h1 style="text-align: center">"No act of kindness, however small is ever wasted." Aesop</h1>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-4">
</div>
<!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add a Volunteer Opportunity
  </button>
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Volunteer Opportunity</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "services/service_form" %>
        </div>
      </div>
    </div>
  </div>
<!--   End of modal -->
</div>

<div class="row">
<div class="col-md-8 col-md-offset-5">
</div>
</div>
<div> <br />
</div>

<!-- Form for search bar by location -->
<%= form_tag services_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Zipcode"  %>
    <%= submit_tag "Search Near", :name => nil, class: 'btn btn-info btn-sm' %>
    <%= link_to "Reset", services_path, class: 'btn btn-info btn-sm' %>
  </p>
<% end %>
<!-- end of search  field-->

<div class="row">
</div>

<% @services.each_slice(3) do |s| %>
<div class="row">
  <% s.each do |service| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <%= image_tag service.photo.url(:medium) %>
      <div class="caption">
        <h3><%= service.title %></h3>
        <p><%= link_to 'Add to my list', add_opportunity_service_path(service.id), method: :post, :remote => true, class: "btn btn-primary btn-info" %></p>
        <p><button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModalDetails">See Details</button></p>

      </div>
    </div>
  </div>
    <% end %>
</div>

<!-- Modal Description -->

<div class="modal" id="myModalDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <h1> More Details Model </h1>

        <h1>End of Modal details</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- End Modal Description -->
  <% end %>








