<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h1 style="text-align: center">"No act of kindness, however small is ever wasted." Aesop</h1>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-4">
</div>
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Volunteer Opportunity</h4>
        </div>
        <div class="modal-body">
          <%= render partial: "services/service_form" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-5">
<!-- Button trigger modal -->

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add a Volunteer Opportunity
  </button>
</div>

</div>
<div> <br />
</div>
<div class="row">
</div>
<div class="row">
<div class="col-md-12">
<% @services.each do |service| %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <%= image_tag service.photo.url(:medium) %>
      <div class="caption">
        <h3><%= service.title %></h3>
        <p><ul>
          <li>When: <%= service.date %></li>
          <li>Where: <%= service.zipcode %></li>
          <li>Requirements: <%= service.requirement %></li>
          <li>Description: <%= service.description %></li>
          </p>

        <p><button class="btn btn-primary btn-info"><%= link_to 'Add to my list', add_opportunity_service_path(service.id), method: :post, :remote => true %></button></p>

      </div>

    </div>
  </div>
        <% end %>
</div>


