<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h2 style="text-align: center"><%= @user.full_name %></h2>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <div class="well well-lg">
      <ul class="user-list">
        <li class="user-info"><%= image_tag @user.avatar.url(:thumb) %></li>
        <li class="user-info"><h4>User Name: <%= @user.user_name %></h4></li>
        <li class="user-info"><h4>Bio:<%= @user.bio %></h4></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK To Do List</h2>
    </div>
        <ul class=" list-unstyled acts-unfinished-list">
          <% @acts_todo.each do |x| %>
            <li class="acts-unfinished-title"><button class="btn btn-primary btn-info unfinished"> <%= link_to 'Completed', completed_task_act_path(x.id), method: :post, :remote => true %></button><span class="act-text"><%= x.title %></span>
            </li>
            </br>

          <% end %>
        </ul>

  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK Completed List</h2>
    </div>
      <ul class=" list-unstyled acts-finished-list">
        <% @acts_finished.each do |f| %>
          <li class="acts-finished-title"><span class="glyphicon glyphicon-ok"></span> <%= f.title %></li>
          <br />
        <% end %>
      </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering To Do List</h2>
      </div>
        <ul>
          <% @services_todo.each do |y| %>
            <li class='list-unstyled services-finished-title' >
              <%= link_to completed_opportunity_service_path(y.id), method: :post, :remote => true, class: "btn btn-info unfinished-service" do %>
                <i class="glyphicon glyphicon-unchecked "></i>
              <% end %>
                <span class="service-text"><%= y.title %></span>
            </li>
            <br />
          <% end %>
        </ul>

  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering Completed List</h2>
    </div>
      <ul class="list-unstyled services-finished-list">
        <% @services_finished.each do |s| %>
          <li><span class="glyphicon glyphicon-ok"></span> <%= s.title %></li>
          <br />
        <% end %>
      </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>



