<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h2 style="text-align: center"><%= @user.full_name %></h2>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <div class="well well-lg">
      <ul class="user-list">
        <li class="user-info"><%= image_tag @user.avatar.url(:thumb) %></li>
        <li class="user-info"><h4>User Name: <%= @user.user_name %></h4></li>
        <li class="user-info"><h4>Bio:<%= @user.bio %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">To Do List</h2>

        <%= current_user.tasks %>

    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">Completed List</h2>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>

