<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
      <h2 style="text-align: center"><%= @user.full_name %></h2>
    </div>
  </div>
</div>
<br/>

<div class="row">
  <div class="col-md-3">
    <div class="well well-lg">
      <ul class="user-list">
        <li class="user-info"><%= image_tag @user.avatar.url(:thumb) %></li>
        <li class="user-info"><h4>User Name: <%= @user.user_name %></h4></li>
        <li class="user-info"><h4>Bio:<%= @user.bio %></h4></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK To Do List</h2>
    </div>
        <ul class="acts-unfinished-list">
          <% @acts_todo.each do |x| %>
            <li class="acts-unfinished-title"><span class="act-text"><%= x.title %></span>
              <button class="btn btn-primary btn-info unfinished"> <%= link_to 'Completed', completed_task_act_path(x.id), method: :post, :remote => true %></button>
            </li>

          <% end %>
        </ul>

  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK Completed List</h2>
    </div>
      <ul class="acts-finished-list">
        <% @acts_finished.each do |f| %>
          <li class="acts-finished-title"><%= f.title %></li>
        <% end %>
      </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering To Do List</h2>
      </div>
        <ul>
          <% @services_todo.each do |y| %>
            <li class='services-finished-title'><span class="service-text"><%= y.title %></span>
            <button class="btn btn-primary btn-info unfinished-service"> <%= link_to 'Completed', completed_opportunity_service_path(y.id), method: :post, :remote => true %></button></li>
          <% end %>
        </ul>

  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering Completed List</h2>
    </div>
      <ul class="services-finished-list">
        <% @services_finished.each do |s| %>
          <li><%= s.title %></li>
        <% end %>
      </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>



