<div class="row">
  <div class="col-md-12">
    <div class="well well-lg dash-header">
      <div class="col-md-2">
        <div class="user-info"><%= image_tag @user.avatar.url(:thumb) %></div>
      </div>
      <div class="col-md-8">
        <h1 style="text-align: center"><%= @user.full_name %>'s Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK To Do List</h2>
    </div>
        <ul class="list-unstyled acts-unfinished-list">
        <% if @acts_todo == [] %>
          <p> Oh no! You don't have any Random Acts of Kindness (RAKs) on your list. Click <%= link_to 'here', acts_path %> to add one! </p>

        <% else %>
          <% @acts_todo.each do |x| %>

            <li class='list-unstyled acts-unfinished-title' >
              <%= link_to completed_task_act_path(x.id), method: :post, :remote => true, class: "btn btn-info unfinished" do %>
                <i class="glyphicon glyphicon-unchecked "></i>
              <% end %>
                <span class="act-text"><%= x.title %></span>
            </li>

            </br>

          <% end %>
        <% end %>
        </ul>

  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="well well-lg">
      <h2 style="text-align: center">RAK Completed List</h2>
    </div>
      <ul class="list-unstyled acts-finished-list">
      <% if @acts_finished == [] %>
          <p class="empty-blurb"> Have you finished any of the RAKs on your To Do list? If so, click the check box next to it to mark it as complete! </p>

        <% else %>
        <% @acts_finished.each do |f| %>
          <li class="acts-finished-title"><span class="glyphicon glyphicon-ok"></span> <%= f.title %></li>
          <br />
        <% end %>
        <% end %>
      </ul>
  </div>

</div>
<div class="row">

  <div class="col-md-4 col-md-offset-1">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering To Do List</h2>
      </div>
        <ul class="list-unstyled">
        <% if @services_todo == [] %>
          <p> Oh no! You don't have any Volunteer Opportunities on your list. Click <%= link_to 'here', services_path %> to add one! </p>
        <% else %>
          <% @services_todo.each do |y| %>
            <li class='list-unstyled services-finished-title' >
              <%= link_to completed_opportunity_service_path(y.id), method: :post, :remote => true, class: "btn btn-info unfinished-service" do %>
                <i class="glyphicon glyphicon-unchecked "></i>
              <% end %>
                <span class="service-text"><%= y.title %></span>
            </li>
            <br />
          <% end %>
        <% end %>
        </ul>

  </div>
  <div class="col-md-4 col-md-offset-1">
    <div class="well well-lg">
      <h2 style="text-align: center">Volunteering Completed List</h2>
    </div>
      <ul class="list-unstyled services-finished-list">
      <% if @services_finished == [] %>
          <p> Have you finished any of the Volunteer Opportunities on your To Do list? If so, click the check box next to it to mark it as complete! </p>
        <% else %>
        <% @services_finished.each do |s| %>
          <li><span class="glyphicon glyphicon-ok"></span> <%= s.title %></li>
          <br />
        <% end %>
      <% end %>
      </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>



